<launch>
  <!-- Spawn UAVs: Calls spwan_uav launch file to spawn each uav -->
  <arg name="mav_name" default="uav"/>
  <arg name="ns" default="0"/>
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_logging" default="false" />
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="ardupilot_port" default="9002"/>

  <!-- Spawn UAV -->
  <group ns="$(arg mav_name)$(arg ns)">
    <include file="$(find iris_gazebo)/launch/spawn_uav.launch">
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="mav_name" value="$(arg mav_name)$(arg ns)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="log_file" value="$(arg mav_name)$(arg ns)"/>
      <arg name="ardupilot_port" value="$(arg ardupilot_port)"/>
    </include>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

</launch>
