<?xml version="1.0"?>
<robot name="iris" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Attach Realsense camera -->
  <xacro:include filename="$(find iris_description)/gazebo/realsense-RS200.macro.xacro"/>
  <xacro:realsense-rs200 prefix="$(arg namespace)/" parent="$(arg namespace)/base_link">
      <origin xyz="0.1 0 0.0" rpy="0 0 0" />   
  </xacro:realsense-rs200>

  <xacro:include filename="$(find iris_description)/gazebo/component_snippets.xacro" />

  <!-- Sensors -->
  <!-- Instantiate the mav with a generic odometry sensor. -->
  <!-- <xacro:odometry_plugin_macro
    namespace="${namespace}"
    odometry_sensor_suffix="1"
    parent_link="${namespace}/base_link"
    pose_topic="odometry_sensor1/pose"
    pose_with_covariance_topic="odometry_sensor1/pose_with_covariance"
    position_topic="odometry_sensor1/position"
    transform_topic="odometry_sensor1/transform"
    odometry_topic="odometry_sensor1/odometry"
    parent_frame_id="world"
    child_frame_id="${namespace}/odometry_sensor1"
    mass_odometry_sensor="0.00001"
    measurement_divisor="1"
    measurement_delay="0"
    unknown_delay="0.0"
    noise_normal_position="0 0 0"
    noise_normal_quaternion="0 0 0"
    noise_normal_linear_velocity="0 0 0"
    noise_normal_angular_velocity="0 0 0"
    noise_uniform_position="0 0 0"
    noise_uniform_quaternion="0 0 0"
    noise_uniform_linear_velocity="0 0 0"
    noise_uniform_angular_velocity="0 0 0"
    enable_odometry_map="false"
    odometry_map=""
    image_scale="">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:odometry_plugin_macro> -->
  
  <!-- vi sensor -->
  <!-- <xacro:vi_sensor_macro
    namespace="${namespace}/vi_sensor"
    parent_link="${namespace}/base_link"
    enable_cameras="true"
    enable_depth="true"
    enable_ground_truth="true">
    <origin xyz="0.1 0.0 -0.03" rpy="0.0 0.1 0.0" />
  </xacro:vi_sensor_macro> -->


  <!-- Instantiate a controller. -->
  <!-- <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" /> -->

  <!-- Instantiate mavlink telemetry interface. -->
  <!-- <xacro:if value="$(arg enable_mavlink_interface)">
    <xacro:default_mavlink_interface namespace="${namespace}" imu_sub_topic="imu" rotor_count="4" />
  </xacro:if> -->

  <!-- Mount an ADIS16448 IMU. -->
  <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- <xacro:if value="$(arg enable_ground_truth)">
    <xacro:ground_truth_imu_and_odometry namespace="${namespace}" parent_link="${namespace}/base_link" />
  </xacro:if> -->

  <!-- Instantiate a logger -->
  <!-- <xacro:if value="$(arg enable_logging)">
    <xacro:bag_plugin_macro
      namespace="${namespace}"
      bag_file="$(arg log_file)"
      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}"
      wait_to_record_bag="$(arg wait_to_record_bag)" />
  </xacro:if> -->

</robot>

