<launch>
  <param name="use_sim_time" value="false" />
  <arg name="ns" default="" />
  <arg name="camera_name" default="$(arg ns)" />
  <arg name="left_img" value="/$(arg camera_name)/camera/infra1/image_rect_raw"/>  <!--Raw color image-->
  <arg name="right_img" value="/$(arg camera_name)/camera/infra2/image_rect_raw"/>  <!--Raw color image-->

	<!-- ORB SLAM Arguments -->
	<arg name="vocabulary_file" default="/workspaces/swarm-uav/ThirdParty/ORB_SLAM2_NOETIC/Vocabulary/ORBvoc.txt"/>
	<arg name="settings_file" default="$(find iris_vision)/config/TUM.yaml"/>

	<!-- rosrun ORB_SLAM2 RGBD PATH_TO_VOCABULARY PATH_TO_SETTINGS_FILE -->
	<node pkg="ORB_SLAM2" type="Stereo" name="Stereo" output="screen" args="$(arg vocabulary_file) $(arg settings_file) false">
    <remap from="/camera/left/image_raw" to="$(arg left_img)"/>
    <remap from="/camera/right/image_raw" to="$(arg right_img)"/>
	</node>
</launch>